In [1]:
from bs4 import BeautifulSoup
import urllib.request
import numpy as np
import pandas as pd
import re
import helper_functions as hf

## Get tournament teams

Because this script takes a while to run, I only want to scrape for teams that were in the tournament in a given year (our training set).

In [2]:
seeds_all = pd.read_csv('data/kaggle_data/MNCAATourneySeeds.csv')
seeds = seeds_all[seeds_all['Season'] >= 2003]

In [3]:
seeds.head()

      Season Seed  TeamID
1154    2003  W01    1328
1155    2003  W02    1448
1156    2003  W03    1393
1157    2003  W04    1257
1158    2003  W05    1280

In [5]:
team_spellings = pd.read_csv('data/kaggle_data/MTeamSpellings.csv')

In [6]:
team_table = seeds.merge(team_spellings, on=['TeamID'])

In [7]:
team_names = team_table[team_table['Season'] == 2021]['TeamNameSpelling']

In [120]:
yr = 2021
seeds_all = pd.read_csv('data/kaggle_data/MNCAATourneySeeds.csv')
team_spellings = pd.read_csv('data/kaggle_data/MTeamSpellings.csv')
team_table = seeds.merge(team_spellings, on=['TeamID'])
tourney_team_names = list(team_table[team_table['Season'] == yr]['TeamNameSpelling'])
tourney_team_names

['oklahoma',
 'syracuse',
 'oklahoma st',
 'oklahoma st.',
 'oklahoma state',
 'oklahoma-st',
 'oklahoma-state',
 'texas',
 'florida',
 'connecticut',
 'uconn',
 'maryland',
 'michigan st',
 'michigan st.',
 'michigan state',
 'michigan-st',
 'michigan-state',
 'louisiana state',
 'louisiana-state',
 'lsu',
 'purdue',
 'colorado',
 'brigham young',
 'brigham-young',
 'byu',
 'texas southern',
 'texas-southern',
 'tx southern',
 'wisconsin',
 'missouri',
 'oregon',
 'alabama',
 'kansas',
 'illinois',
 'creighton',
 'gonzaga',
 'utah st',
 'utah st.',
 'utah state',
 'utah-st',
 'utah-state',
 'north carolina',
 'north-carolina',
 'unc',
 'texas tech',
 'texas-tech',
 'va commonwealth',
 'vcu',
 'vcu(va. commonwealth',
 'virginia commonwealth',
 'virginia-commonwealth',
 'e washington',
 'eastern wash.',
 'eastern washington',
 'eastern-wash',
 'eastern-washington',
 'liberty',
 'georgia tech',
 'georgia-tech',
 'west virginia',
 'west-virginia',
 'ucla',
 'winthrop',
 'iowa',
 'villanova',
 'ohio',
 'iona',
 'arkansas',
 'san diego st',
 'san diego st.',
 'san diego state',
 'san-diego-st',
 'san-diego-state',
 'sd state',
 'oral roberts',
 'oral-roberts',
 'ohio st',
 'ohio st.',
 'ohio state',
 'ohio-st',
 'ohio-state',
 'georgetown',
 'tennessee',
 'wichita st',
 'wichita st.',
 'wichita state',
 'wichita-st',
 'wichita-state',
 'wichitastate',
 'southern california',
 'southern-california',
 'usc',
 'virginia',
 'north texas',
 'north-texas',
 'virginia tech',
 'virginia-tech',
 'Mount Saint Mary`s',
 "mount st. mary's",
 'mount st. marys',
 'mount-st-marys',
 "mt st mary's",
 "mt st. mary's",
 'mt-st-marys',
 "mt. st. mary's",
 'mt. st. mary`s',
 'clemson',
 'drake',
 'baylor',
 'florida st',
 'florida st.',
 'florida state',
 'florida-st',
 'florida-state',
 'michigan',
 'cleveland st',
 'cleveland st.',
 'cleveland state',
 'cleveland-st',
 'cleveland-state',
 'morehead st',
 'morehead st.',
 'morehead state',
 'morehead-st',
 'morehead-state',
 'houston',
 'california-santa barbara',
 'california-santa-barbara',
 'santa barbara',
 'uc santa barb.',
 'uc santa barbara',
 'uc-santa barbara',
 'uc-santa-barbara',
 'ucsb',
 'Saint Bonaventure',
 'st bonaventure',
 'st-bonaventure',
 'st. bonaventure',
 'norfolk st',
 'norfolk st.',
 'norfolk state',
 'norfolk-st',
 'norfolk-state',
 'oregon st',
 'oregon st.',
 'oregon state',
 'oregon-st',
 'oregon-state',
 'loyola (il)',
 'loyola chicago',
 'loyola-c',
 'loyola-chicago',
 'loyola-il',
 'nc greensboro',
 'nc-greensboro',
 'north carolina-greensboro',
 'north-carolina-greensboro',
 'unc greensboro',
 'uncg',
 'abilene chr',
 'abilene christian',
 'abilene-christian',
 'colgate',
 'grand canyon',
 'grand-canyon',
 'appalachian st',
 'appalachian st.',
 'appalachian state',
 'appalachian-st',
 'appalachian-state',
 'rutgers',
 'drexel',
 'hartford']

In [30]:
def get_team_info(yr):
    # get seeds
    seeds_all = pd.read_csv('data/kaggle_data/MNCAATourneySeeds.csv')
    team_spellings = pd.read_csv('data/kaggle_data/MTeamSpellings.csv')
    team_table = seeds.merge(team_spellings, on=['TeamID'])
    tourney_team_names = list(team_table[team_table['Season'] == yr]['TeamNameSpelling'])
    link = 'https://www.sports-reference.com/cbb/seasons/' + str(yr) + '-coaches.html'
    with urllib.request.urlopen(link) as url:
        page = url.read()
    soup = BeautifulSoup(page, "html.parser")
    coach_table = soup.find('table', {'id': 'coaches'})
    coach_tbody = coach_table.find('tbody')
    coach_rows = coach_tbody.find_all('tr')
    cols = ['Season','school','returning_min_pct', 'returning_score_pct', 'avg_height', 'avg_yr']
    team_info_df = pd.DataFrame(columns=cols)
    for coach_row in coach_rows:
        tds = coach_row.find_all('td')
        if len(tds) > 10:
            team_stub = tds[0].find('a')['href']
            school = team_stub.split('/')[3]
            if school not in tourney_team_names:
                continue
            team_link = 'https://www.sports-reference.com' + team_stub
            print(school)
            with urllib.request.urlopen(team_link) as url:
                page = url.read()
            team_soup = BeautifulSoup(page, "html.parser")
            text_div = team_soup.find('div', {'id':'tfooter_roster'}).text
            decimals = re.findall('\d+\.\d', text_div)
            if len(decimals) == 3:
                # avg. yr weighted for time played
                year_avg = float(decimals[0])
                returning_min_pct = float(decimals[1])
                returning_score_pct = float(decimals[2])
            else:
                year_avg, returning_min_pct, returning_score_pct = None, None, None
            # avg height
            height_str = re.search('\d+\-+\d', text_div)
            if height_str == None:
                height_avg = 76
            else:
                height_ints = height_str.group().split('-')
                height_avg = 12*int(height_ints[0]) + int(height_ints[1])
                if height_avg > 100:
                    height_avg = 76
            new_row = pd.Series([yr, school, returning_min_pct, returning_score_pct, height_avg, year_avg], index=cols)
            team_info_df = team_info_df.append(new_row, ignore_index=True)
    return(team_info_df)

In [26]:
def sports_ref_join_to_kaggle(coach_df):
    team_spellings = pd.read_csv('data/kaggle_data/MTeamSpellings.csv')
    coach_joined = team_spellings.merge(coach_df, left_on='TeamNameSpelling', right_on='school')
    coach_joined.drop('TeamNameSpelling', axis=1, inplace=True)
    return(coach_joined)

In [27]:
team_info_df = get_team_info(2022)
team_info_joined = sports_ref_join_to_kaggle(team_info_df)
for yr in range(2021,2002,-1):
    print(yr)
    new_team_info_df = get_team_info(yr)
    new_team_info_joined = sports_ref_join_to_kaggle(new_team_info_df)
    team_info_joined = pd.concat([team_info_joined, new_team_info_joined], ignore_index=True)

akron
alabama
alabama-birmingham
arizona
arkansas
auburn
baylor
boise-state
bryant
cal-state-fullerton
chattanooga
colgate
colorado-state
connecticut
creighton
davidson
delaware
duke
georgia-state
gonzaga
houston
illinois
indiana
iowa
iowa-state
jacksonville-state
kansas
kentucky
longwood
louisiana-state
loyola-il
marquette
memphis
miami-fl
michigan
michigan-state
montana-state
murray-state
new-mexico-state
norfolk-state
north-carolina
notre-dame
ohio-state
providence
purdue
richmond
rutgers
saint-marys-ca
saint-peters
san-diego-state
san-francisco
seton-hall
south-dakota-state
southern-california
tennessee
texas
texas-am-corpus-christi
texas-christian
texas-southern
texas-tech
ucla
vermont
villanova
virginia-tech
wisconsin
wright-state
wyoming
yale
2021
abilene-christian
alabama
appalachian-state
arkansas
baylor
brigham-young
california-santa-barbara
clemson
cleveland-state
colgate
colorado
connecticut
creighton
drake
drexel
eastern-washington
florida
florida-state
georgetown
georgia-tech
gonzaga
grand-canyon
hartford
houston
illinois
iona
iowa
kansas
liberty
louisiana-state
loyola-il
maryland
michigan
michigan-state
missouri
morehead-state
mount-st-marys
norfolk-state
north-carolina
north-carolina-greensboro
north-texas
ohio
ohio-state
oklahoma
oklahoma-state
oral-roberts
oregon
oregon-state
purdue
rutgers
san-diego-state
southern-california
st-bonaventure
syracuse
tennessee
texas
texas-southern
texas-tech
ucla
utah-state
villanova
virginia
virginia-commonwealth
virginia-tech
west-virginia
wichita-state
winthrop
wisconsin
2020
2019
abilene-christian
arizona-state
auburn
baylor
belmont
bradley
buffalo
california-irvine
central-florida
cincinnati
colgate
duke
fairleigh-dickinson
florida
florida-state
gardner-webb
georgia-state
gonzaga
houston
iona
iowa
iowa-state
kansas
kansas-state
kentucky
liberty
louisiana-state
louisville
marquette
maryland
michigan
michigan-state
minnesota
mississippi
mississippi-state
montana
murray-state
nevada
new-mexico-state
north-carolina
north-carolina-central
north-dakota-state
northeastern
northern-kentucky
ohio-state
oklahoma
old-dominion
oregon
prairie-view
purdue
saint-louis
saint-marys-ca
seton-hall
st-johns-ny
syracuse
temple
tennessee
texas-tech
utah-state
vermont
villanova
virginia
virginia-commonwealth
virginia-tech
washington
wisconsin
wofford
yale
2018
alabama
arizona
arizona-state
arkansas
auburn
bucknell
buffalo
butler
cal-state-fullerton
cincinnati
clemson
college-of-charleston
creighton
davidson
duke
florida
florida-state
georgia-state
gonzaga
houston
iona
kansas
kansas-state
kentucky
lipscomb
long-island-university
loyola-il
marshall
maryland-baltimore-county
miami-fl
michigan
michigan-state
missouri
montana
murray-state
nevada
new-mexico-state
north-carolina
north-carolina-central
north-carolina-greensboro
north-carolina-state
ohio-state
oklahoma
pennsylvania
providence
purdue
radford
rhode-island
san-diego-state
seton-hall
south-dakota-state
st-bonaventure
stephen-f-austin
syracuse
tennessee
texas
texas-am
texas-christian
texas-southern
texas-tech
ucla
villanova
virginia
virginia-tech
west-virginia
wichita-state
wright-state
xavier
2017
arizona
arkansas
baylor
bucknell
butler
california-davis
cincinnati
creighton
dayton
duke
east-tennessee-state
florida
florida-gulf-coast
florida-state
gonzaga
iona
iowa-state
jacksonville-state
kansas
kansas-state
kent-state
kentucky
louisville
marquette
maryland
miami-fl
michigan
michigan-state
middle-tennessee
minnesota
mount-st-marys
nevada
new-mexico-state
new-orleans
north-carolina
north-carolina-central
north-carolina-wilmington
north-dakota
northern-kentucky
northwestern
notre-dame
oklahoma-state
oregon
princeton
providence
purdue
rhode-island
saint-marys-ca
seton-hall
south-carolina
south-dakota-state
southern-california
southern-methodist
texas-southern
troy
ucla
vanderbilt
vermont
villanova
virginia
virginia-commonwealth
virginia-tech
wake-forest
west-virginia
wichita-state
winthrop
wisconsin
xavier
2016
arizona
arkansas-little-rock
austin-peay
baylor
buffalo
butler
cal-state-bakersfield
california
chattanooga
cincinnati
colorado
connecticut
dayton
duke
fairleigh-dickinson
florida-gulf-coast
fresno-state
gonzaga
green-bay
hampton
hawaii
holy-cross
indiana
iona
iowa
iowa-state
kansas
kentucky
maryland
miami-fl
michigan
michigan-state
middle-tennessee
north-carolina
north-carolina-asheville
north-carolina-wilmington
northern-iowa
notre-dame
oklahoma
oregon
oregon-state
pittsburgh
providence
purdue
saint-josephs
seton-hall
south-dakota-state
southern
southern-california
stephen-f-austin
stony-brook
syracuse
syracuse
temple
texas
texas-am
texas-tech
tulsa
utah
vanderbilt
villanova
virginia
virginia-commonwealth
weber-state
west-virginia
wichita-state
wisconsin
wisconsin
xavier
yale
2015
alabama-birmingham
albany-ny
arizona
arkansas
baylor
belmont
boise-state
brigham-young
buffalo
butler
california-irvine
cincinnati
coastal-carolina
davidson
dayton
duke
eastern-washington
georgetown
georgia
georgia-state
gonzaga
hampton
harvard
indiana
iowa
iowa-state
kansas
kentucky
lafayette
louisiana-state
louisville
manhattan
maryland
michigan-state
mississippi
new-mexico-state
north-carolina
north-carolina-state
north-dakota-state
north-florida
northeastern
northern-iowa
notre-dame
ohio-state
oklahoma
oklahoma-state
oregon
providence
purdue
robert-morris
san-diego-state
southern-methodist
st-johns-ny
stephen-f-austin
texas
texas-southern
ucla
utah
valparaiso
villanova
virginia
virginia-commonwealth
west-virginia
wichita-state
wisconsin
wofford
wyoming
xavier
2014
albany-ny
american
arizona
arizona-state
baylor
brigham-young
cal-poly
cincinnati
coastal-carolina
colorado
connecticut
creighton
dayton
delaware
duke
eastern-kentucky
florida
george-washington
gonzaga
harvard
iowa
iowa-state
kansas
kansas-state
kentucky
louisiana-lafayette
louisville
manhattan
massachusetts
memphis
mercer
michigan
michigan-state
milwaukee
mount-st-marys
nebraska
new-mexico
new-mexico-state
north-carolina
north-carolina-central
north-carolina-state
north-dakota-state
ohio-state
oklahoma
oklahoma-state
oregon
pittsburgh
providence
saint-josephs
saint-louis
san-diego-state
stanford
stephen-f-austin
syracuse
tennessee
texas
texas-southern
tulsa
ucla
villanova
virginia
virginia-commonwealth
weber-state
western-michigan
wichita-state
wisconsin
wofford
xavier
2013
akron
albany-ny
arizona
belmont
boise-state
bucknell
butler
california
cincinnati
colorado
colorado-state
creighton
davidson
duke
florida
florida-gulf-coast
georgetown
gonzaga
harvard
illinois
indiana
iona
iowa-state
james-madison
kansas
kansas-state
la-salle
liberty
long-island-university
louisville
marquette
memphis
miami-fl
michigan
michigan-state
middle-tennessee
minnesota
mississippi
missouri
montana
nevada-las-vegas
new-mexico
new-mexico-state
north-carolina
north-carolina-at
north-carolina-state
northwestern-state
notre-dame
ohio-state
oklahoma
oklahoma-state
oregon
pacific
pittsburgh
saint-louis
saint-marys-ca
san-diego-state
south-dakota-state
southern
syracuse
temple
ucla
valparaiso
villanova
virginia-commonwealth
western-kentucky
wichita-state
wisconsin
2012
alabama
baylor
belmont
brigham-young
california
cincinnati
colorado
colorado-state
connecticut
creighton
davidson
detroit-mercy
duke
florida
florida-state
georgetown
gonzaga
harvard
indiana
iona
iowa-state
kansas
kansas-state
kentucky
lamar
lehigh
long-beach-state
long-island-university
louisville
loyola-md
marquette
memphis
michigan
michigan-state
mississippi-valley-state
missouri
montana
murray-state
nevada-las-vegas
new-mexico
new-mexico-state
norfolk-state
north-carolina
north-carolina-asheville
north-carolina-state
notre-dame
ohio
ohio-state
purdue
saint-louis
saint-marys-ca
san-diego-state
south-dakota-state
south-florida
southern-mississippi
st-bonaventure
syracuse
temple
texas
vanderbilt
vermont
virginia
virginia-commonwealth
west-virginia
western-kentucky
western-kentucky
wichita-state
wisconsin
xavier
2011
akron
alabama-birmingham
alabama-state
arizona
arkansas-little-rock
belmont
boston-university
brigham-young
bucknell
butler
california-santa-barbara
cincinnati
clemson
connecticut
duke
florida
florida-state
george-mason
georgetown
georgia
gonzaga
hampton
illinois

indiana-state
kansas
kansas-state
kentucky
long-island-university
louisville
marquette
memphis
michigan
michigan-state
missouri
morehead-state
nevada-las-vegas
north-carolina
north-carolina-asheville
northern-colorado
notre-dame
oakland
ohio-state
old-dominion
penn-state
pittsburgh
princeton
purdue
richmond
saint-peters
san-diego-state
southern-california
st-johns-ny
syracuse
temple
tennessee
texas
texas-am
texas-san-antonio
ucla
utah-state
vanderbilt
villanova
virginia-commonwealth
washington
west-virginia
wisconsin
wofford
xavier
2010
arkansas-pine-bluff
baylor
brigham-young
butler
california
california-santa-barbara
clemson
cornell
duke
east-tennessee-state
florida
florida-state
georgetown
georgia-tech
gonzaga
houston
kansas
kansas-state
kentucky
lehigh
louisville
marquette
maryland
michigan-state
minnesota
missouri
montana
morgan-state
murray-state
nevada-las-vegas
new-mexico
new-mexico-state
north-texas
northern-iowa
notre-dame
oakland
ohio
ohio-state
oklahoma-state
old-dominion
pittsburgh
purdue
richmond
robert-morris
saint-marys-ca
sam-houston-state
san-diego-state
siena
syracuse
temple
tennessee
texas
texas-am
texas-el-paso
utah-state
vanderbilt
vermont
villanova
wake-forest
washington
west-virginia
winthrop
wisconsin
wofford
xavier
2009
akron
alabama-state
american
arizona
arizona-state
binghamton
boston-college
brigham-young
butler
cal-state-northridge
california
chattanooga
clemson
cleveland-state
connecticut
cornell
dayton
duke
east-tennessee-state
florida-state
gonzaga
illinois
kansas
louisiana-state
louisville
marquette
maryland
memphis
michigan
michigan-state
minnesota
mississippi-state
missouri
morehead-state
morgan-state
north-carolina
north-dakota-state
northern-iowa
ohio-state
oklahoma
oklahoma-state
pittsburgh
portland-state
purdue
radford
robert-morris
siena
southern-california
stephen-f-austin
syracuse
temple
tennessee
texas
texas-am
ucla
utah
utah-state
villanova
virginia-commonwealth
wake-forest
washington
west-virginia
western-kentucky
wisconsin
xavier
2008
2007
2006
2005
2004
2003

In [28]:
team_info_joined

,TeamID,Season,school,returning_min_pct,returning_score_pct,avg_height,avg_yr
0,1103,2022,akron,60.1,53.1,76,2.2
1,1104,2022,alabama,46.6,49.3,77,1.3
2,1412,2022,alabama-birmingham,60.0,63.2,77,3.1
3,1112,2022,arizona,48.3,45.9,80,1.5
4,1116,2022,arkansas,37.5,37.4,77,2.5
...,...,...,...,...,...,...,...
876,1449,2009,washington,68.9,71.9,76,1.4
877,1452,2009,west-virginia,58.8,59.2,78,1.2
878,1443,2009,western-kentucky,50.4,39.4,77,1.5
879,1458,2009,wisconsin,65.8,61.9,77,1.9
880,1462,2009,xavier,53.3,53.1,78,1.6

In [29]:
team_info_joined.groupby('Season').count()

,TeamID,school,returning_min_pct,returning_score_pct,avg_height,avg_yr
Season,,,,,,
2009,65,65,63,63,65,63
2010,65,65,65,65,65,65
2011,68,68,68,68,68,68
2012,69,69,69,69,69,69
2013,68,68,68,68,68,68
2014,68,68,68,68,68,68
2015,68,68,68,68,68,68
2016,70,70,70,70,70,70
2017,68,68,68,68,68,68
2018,68,68,68,68,68,68
2019,68,68,68,68,68,68
2021,68,68,68,68,68,68
2022,68,68,67,67,68,67

In [34]:
team_info_joined.to_csv('data/generated_data/additional_team_features.csv', index=False)

In [35]:
def check_for_missing_spellings(df, joined):
    comp = df.merge(joined, on='TeamID', how='left')
    return(comp[comp['school'].isna()])

In [36]:
seeds = seeds_all[seeds_all['Season'] >= 2009]

In [37]:
seeds.merge(team_info_joined, on='TeamID', how='left')

,Season_x,Seed,TeamID,Season_y,school,returning_min_pct,returning_score_pct,avg_height,avg_yr
0,2009,W01,1338,2016,pittsburgh,73.0,76.5,79,2.1
1,2009,W01,1338,2014,pittsburgh,50.7,48.8,78,1.8
2,2009,W01,1338,2013,pittsburgh,57.6,56.3,78,1.9
3,2009,W01,1338,2011,pittsburgh,84.3,86.0,77,2.3
4,2009,W01,1338,2010,pittsburgh,42.5,33.4,76,1.4
...,...,...,...,...,...,...,...,...,...
5460,2022,Z15,1174,2022,delaware,100.0,100.0,77,2.4
5461,2022,Z15,1174,2014,delaware,62.4,67.1,77,1.7
5462,2022,Z16a,1136,2022,bryant,75.4,76.8,77,2.4
5463,2022,Z16b,1460,2022,wright-state,73.2,68.5,77,1.8
5464,2022,Z16b,1460,2018,wright-state,53.2,44.1,77,1.4

In [38]:
check_for_missing_spellings(seeds, team_info_joined)

Empty DataFrame
Columns: [Season_x, Seed, TeamID, Season_y, school, returning_min_pct, returning_score_pct, avg_height, avg_yr]
Index: []