In [83]:
from bs4 import BeautifulSoup
import urllib.request
import numpy as np
import pandas as pd

In [110]:
yr = 2022
link = 'https://www.sports-reference.com/cbb/seasons/' + str(yr) + '-coaches.html'
with urllib.request.urlopen(link) as url:
    page = url.read()
soup = BeautifulSoup(page, "html.parser")

In [112]:
coach_table = soup.find('table', {'id': 'coaches'})

In [145]:
coach_tbody = coach_table.find('tbody')
coach_rows = coach_tbody.find_all('tr')

In [194]:
cols = ['school','is_ap_pre_top_5', 'is_ap_pre_top_15', 'is_ap_pre_top_25','coach_WL_car','tourneys_car','sw16_car','ff_car','champ_car']
coach_df = pd.DataFrame(columns=cols)
for i, coach_row in enumerate(coach_rows):
    tds = coach_row.find_all('td')
    if len(tds) > 10:
        school = tds[0].find('a')['href'].split('/')[3]
        is_ap_pre_top_5 = False if tds[6].text == '' else int(tds[6].text) <= 5
        is_ap_pre_top_15 = False if tds[6].text == '' else int(tds[6].text) <= 15
        is_ap_pre_top_25 = False if tds[6].text == '' else int(tds[6].text) <= 25
        coach_WL_car = float(tds[21].text)
        tourneys_car = 0 if tds[22].text == '' else int(tds[22].text)
        sw16_car = 0 if tds[23].text == '' else int(tds[23].text)
        ff_car = 0 if tds[24].text == '' else int(tds[24].text)
        champ_car = 0 if tds[25].text == '' else int(tds[25].text)
        new_row = pd.Series([school, is_ap_pre_top_5, is_ap_pre_top_15, is_ap_pre_top_25, coach_WL_car, tourneys_car, sw16_car, ff_car, champ_car], index=cols)
        coach_df = coach_df.append(new_row, ignore_index=True)

In [195]:
coach_df

,school,is_ap_pre_top_5,is_ap_pre_top_15,is_ap_pre_top_25,coach_WL_car,tourneys_car,sw16_car,ff_car,champ_car
0,abilene-christian,False,False,False,0.690,0,0,0,0
1,air-force,False,False,False,0.475,1,0,0,0
2,akron,False,False,False,0.589,3,1,0,0
3,alabama,False,True,True,0.671,4,1,0,0
4,alabama-am,False,False,False,0.286,0,0,0,0
...,...,...,...,...,...,...,...,...,...
359,wright-state,False,False,False,0.586,4,0,0,0
360,wyoming,False,False,False,0.634,0,0,0,0
361,xavier,False,False,False,0.585,0,0,0,0
362,yale,False,False,False,0.546,2,0,0,0
363,youngstown-state,False,False,False,0.455,0,0,0,0

In [196]:
coach_df.to_csv('data/generated_data/coach_info.csv')