In [71]:
import numpy as np
import pandas as pd
import random
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

In [11]:
coach_features = pd.read_csv('data/generated_data/coach_features.csv')
stationary_probs_all = pd.read_csv('data/generated_data/stationary_probabilities.csv')
stationary_probs = stationary_probs_all[stationary_probs_all['Season'] >= 2003]
team_season_features = pd.read_csv('data/generated_data/team_season_features.csv')

In [12]:
coach_features.head()

,Unnamed: 0,TeamID,Season,school,is_ap_pre_top_5,is_ap_pre_top_15,is_ap_pre_top_25,coach_WL_car,tourneys_car,sw16_car,ff_car,champ_car
0,0,1102,2003,air-force,False,False,False,0.341,0,0,0,0
1,1,1103,2003,akron,False,False,False,0.462,0,0,0,0
2,2,1104,2003,alabama,False,True,True,0.660,4,0,0,0
3,3,1105,2003,alabama-am,False,False,False,0.518,0,0,0,0
4,4,1412,2003,alabama-birmingham,False,False,False,0.618,0,0,0,0

In [13]:
stationary_probs.head()

      Unnamed: 0  Season  TeamID      pi_i
5407        5407    2003    1102  0.002807
5408        5408    2003    1103  0.002684
5409        5409    2003    1104  0.004745
5410        5410    2003    1105  0.001239
5411        5411    2003    1106  0.001900

In [14]:
team_season_features.head()

,Unnamed: 0,Season,TeamID,total_games,num_wins,num_losses,win_pct,avg_points_for,avg_points_against,avg_game_margin,...,away_wins_vs_tourney_teams,losses_vs_tourney_teams,losses_vs_non_tourney_teams,games_vs_tourney_teams,final_net,prev_net,net_improvement,final_pom,prev_pom,pom_improvement
0,0,2003,1102,28,12,16,0.428571,57.250000,57.000000,0.250000,...,0.0,7.0,9.0,8.0,158.0,149.0,-9.0,160.0,151.0,-9.0
1,1,2003,1103,27,13,14,0.481481,78.777778,78.148148,0.629630,...,1.0,1.0,13.0,2.0,182.0,198.0,16.0,163.0,187.0,24.0
2,2,2003,1104,28,17,11,0.607143,69.285714,65.000000,4.285714,...,1.0,6.0,5.0,11.0,38.0,27.0,-11.0,33.0,39.0,6.0
3,3,2003,1105,26,7,19,0.269231,71.769231,76.653846,-4.884615,...,0.0,3.0,16.0,4.0,313.0,316.0,3.0,307.0,313.0,6.0
4,4,2003,1106,28,13,15,0.464286,63.607143,63.750000,-0.142857,...,0.0,4.0,11.0,5.0,248.0,236.0,-12.0,263.0,227.0,-36.0

In [18]:
idx = ['Season', 'TeamID']
features_all = team_season_features.merge(stationary_probs, on=idx).merge(coach_features, on=idx)
features_all.head()

,Unnamed: 0_x,Season,TeamID,total_games,num_wins,num_losses,win_pct,avg_points_for,avg_points_against,avg_game_margin,...,Unnamed: 0,school,is_ap_pre_top_5,is_ap_pre_top_15,is_ap_pre_top_25,coach_WL_car,tourneys_car,sw16_car,ff_car,champ_car
0,0,2003,1102,28,12,16,0.428571,57.250000,57.000000,0.250000,...,0,air-force,False,False,False,0.341,0,0,0,0
1,1,2003,1103,27,13,14,0.481481,78.777778,78.148148,0.629630,...,1,akron,False,False,False,0.462,0,0,0,0
2,2,2003,1104,28,17,11,0.607143,69.285714,65.000000,4.285714,...,2,alabama,False,True,True,0.660,4,0,0,0
3,3,2003,1105,26,7,19,0.269231,71.769231,76.653846,-4.884615,...,3,alabama-am,False,False,False,0.518,0,0,0,0
4,4,2003,1106,28,13,15,0.464286,63.607143,63.750000,-0.142857,...,5,alabama-state,False,False,False,0.480,1,0,0,0

In [19]:
features_all.columns

Index(['Unnamed: 0_x', 'Season', 'TeamID', 'total_games', 'num_wins',
       'num_losses', 'win_pct', 'avg_points_for', 'avg_points_against',
       'avg_game_margin', 'std_game_margin', 'non_home_wins', 'home_losses',
       'close_wins', 'close_losses', '3FGA_pg', '3FGM_pg', '3_pct', 'FTM_pg',
       'FTA_pg', 'FT_pct', 'TOV_pg', 'avg_pace', 'off_eff', 'def_eff',
       'pythag_win_pct', 'luck', 'Seed', 'wins_vs_tourney_teams',
       'away_wins_vs_tourney_teams', 'losses_vs_tourney_teams',
       'losses_vs_non_tourney_teams', 'games_vs_tourney_teams', 'final_net',
       'prev_net', 'net_improvement', 'final_pom', 'prev_pom',
       'pom_improvement', 'Unnamed: 0_y', 'pi_i', 'Unnamed: 0', 'school',
       'is_ap_pre_top_5', 'is_ap_pre_top_15', 'is_ap_pre_top_25',
       'coach_WL_car', 'tourneys_car', 'sw16_car', 'ff_car', 'champ_car'],
      dtype='object')

In [20]:
features = features_all[['Season', 'TeamID', 'total_games', 'win_pct', 'avg_points_for', 
              'avg_points_against', 'avg_game_margin', 'std_game_margin', 
              'non_home_wins', 'home_losses', 'close_wins', 'close_losses', 
              '3FGA_pg', '3_pct', 'FTA_pg', 'FT_pct', 'TOV_pg', 'avg_pace', 
              'off_eff', 'def_eff', 'pythag_win_pct', 'luck', 'Seed', 'wins_vs_tourney_teams',
              'away_wins_vs_tourney_teams', 'losses_vs_tourney_teams',
              'losses_vs_non_tourney_teams', 'games_vs_tourney_teams', 'final_net',
              'net_improvement', 'final_pom', 'pom_improvement', 'pi_i',
              'is_ap_pre_top_5', 'is_ap_pre_top_15', 'is_ap_pre_top_25',
              'coach_WL_car', 'tourneys_car', 'sw16_car', 'ff_car', 'champ_car']]

In [21]:
features.head()

,Season,TeamID,total_games,win_pct,avg_points_for,avg_points_against,avg_game_margin,std_game_margin,non_home_wins,home_losses,...,pom_improvement,pi_i,is_ap_pre_top_5,is_ap_pre_top_15,is_ap_pre_top_25,coach_WL_car,tourneys_car,sw16_car,ff_car,champ_car
0,2003,1102,28,0.428571,57.250000,57.000000,0.250000,15.878163,3.0,4.0,...,-9.0,0.002807,False,False,False,0.341,0,0,0,0
1,2003,1103,27,0.481481,78.777778,78.148148,0.629630,11.126039,4.0,5.0,...,24.0,0.002684,False,False,False,0.462,0,0,0,0
2,2003,1104,28,0.607143,69.285714,65.000000,4.285714,13.149843,4.0,2.0,...,6.0,0.004745,False,True,True,0.660,4,0,0,0
3,2003,1105,26,0.269231,71.769231,76.653846,-4.884615,15.552212,2.0,7.0,...,6.0,0.001239,False,False,False,0.518,0,0,0,0
4,2003,1106,28,0.464286,63.607143,63.750000,-0.142857,12.374266,5.0,4.0,...,-36.0,0.001900,False,False,False,0.480,1,0,0,0

## Tourney games

In [89]:
tourney_games_all = pd.read_csv('data/kaggle_data/MNCAATourneyCompactResults.csv')
tourney_games = tourney_games_all[tourney_games_all['Season'] >= 2003]
tourney_games.head()

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
1136    2003     134     1421      92     1411      84    N      1
1137    2003     136     1112      80     1436      51    N      0
1138    2003     136     1113      84     1272      71    N      0
1139    2003     136     1141      79     1166      73    N      0
1140    2003     136     1143      76     1301      74    N      1

In [90]:
tourney_games['rand'] = [random.random() for i in range(len(tourney_games))]
tourney_games['teams'] = [(t1, t2) if r >= 0.5 else (t2, t1) for t1, t2, r in \
                          zip(tourney_games['WTeamID'], tourney_games['LTeamID'], tourney_games['rand'])]
tourney_games['t1_score_diff'] = [t1-t2 if r >= 0.5 else t2-t1 for t1, t2, r in \
                          zip(tourney_games['WScore'], tourney_games['LScore'], tourney_games['rand'])]
tourney_games[['team1','team2']] = pd.DataFrame(tourney_games['teams'].tolist(), index=tourney_games.index)

In [91]:
tourney_games

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,rand,teams,t1_score_diff,team1,team2
1136,2003,134,1421,92,1411,84,N,1,0.971706,"(1421, 1411)",8,1421,1411
1137,2003,136,1112,80,1436,51,N,0,0.906671,"(1112, 1436)",29,1112,1436
1138,2003,136,1113,84,1272,71,N,0,0.299770,"(1272, 1113)",-13,1272,1113
1139,2003,136,1141,79,1166,73,N,0,0.253086,"(1166, 1141)",-6,1166,1141
1140,2003,136,1143,76,1301,74,N,1,0.479552,"(1301, 1143)",-2,1301,1143
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312,2021,148,1211,85,1425,66,N,0,0.062636,"(1425, 1211)",-19,1425,1211
2313,2021,148,1417,51,1276,49,N,0,0.658749,"(1417, 1276)",2,1417,1276
2314,2021,152,1124,78,1222,59,N,0,0.882280,"(1124, 1222)",19,1124,1222
2315,2021,152,1211,93,1417,90,N,1,0.559665,"(1211, 1417)",3,1211,1417
2316,2021,154,1124,86,1211,70,N,0,0.246411,"(1211, 1124)",-16,1211,1124

In [92]:
tourney_results = tourney_games[['Season', 'team1', 'team2', 't1_score_diff']]

In [93]:
tourney_results

      Season  team1  team2  t1_score_diff
1136    2003   1421   1411              8
1137    2003   1112   1436             29
1138    2003   1272   1113            -13
1139    2003   1166   1141             -6
1140    2003   1301   1143             -2
...      ...    ...    ...            ...
2312    2021   1425   1211            -19
2313    2021   1417   1276              2
2314    2021   1124   1222             19
2315    2021   1211   1417              3
2316    2021   1211   1124            -16

[1181 rows x 4 columns]

In [104]:
matchup_features_all = tourney_results.merge(features, left_on=['Season', 'team1'], right_on=['Season', 'TeamID'])\
.merge(features, left_on=['Season', 'team2'], right_on=['Season', 'TeamID'], suffixes=['_1', '_2'])
matchup_features_all.head()

,Season,team1,team2,t1_score_diff,TeamID_1,total_games_1,win_pct_1,avg_points_for_1,avg_points_against_1,avg_game_margin_1,std_game_margin_1,non_home_wins_1,home_losses_1,close_wins_1,close_losses_1,3FGA_pg_1,3_pct_1,FTA_pg_1,FT_pct_1,TOV_pg_1,avg_pace_1,off_eff_1,def_eff_1,pythag_win_pct_1,luck_1,Seed_1,wins_vs_tourney_teams_1,away_wins_vs_tourney_teams_1,losses_vs_tourney_teams_1,losses_vs_non_tourney_teams_1,games_vs_tourney_teams_1,final_net_1,net_improvement_1,final_pom_1,pom_improvement_1,pi_i_1,is_ap_pre_top_5_1,is_ap_pre_top_15_1,is_ap_pre_top_25_1,coach_WL_car_1,tourneys_car_1,sw16_car_1,ff_car_1,champ_car_1,TeamID_2,total_games_2,win_pct_2,avg_points_for_2,avg_points_against_2,avg_game_margin_2,std_game_margin_2,non_home_wins_2,home_losses_2,close_wins_2,close_losses_2,3FGA_pg_2,3_pct_2,FTA_pg_2,FT_pct_2,TOV_pg_2,avg_pace_2,off_eff_2,def_eff_2,pythag_win_pct_2,luck_2,Seed_2,wins_vs_tourney_teams_2,away_wins_vs_tourney_teams_2,losses_vs_tourney_teams_2,losses_vs_non_tourney_teams_2,games_vs_tourney_teams_2,final_net_2,net_improvement_2,final_pom_2,pom_improvement_2,pi_i_2,is_ap_pre_top_5_2,is_ap_pre_top_15_2,is_ap_pre_top_25_2,coach_WL_car_2,tourneys_car_2,sw16_car_2,ff_car_2,champ_car_2
0,2003,1421,1411,8,1421,29,0.448276,71.206897,78.448276,-7.241379,17.203959,3.0,2.0,6.0,3.0,18.000000,0.360153,20.931034,0.762768,16.206897,65.815172,106.461081,116.825884,0.206332,0.241944,X16b,0.0,0.0,6.0,10.0,6.0,186.0,-3.0,273.0,-7.0,0.001648,False,False,False,0.463,1,0,0,0,1411,30,0.600000,72.800000,70.833333,1.966667,11.998565,7.0,3.0,5.0,2.0,18.500000,0.320721,28.066667,0.619952,15.233333,67.262791,108.724747,104.193929,0.594100,0.005900,X16a,0.0,0.0,1.0,11.0,1.0,217.0,-14.0,268.0,-15.0,0.002039,False,False,False,0.492,1,0,0,0
1,2003,1112,1436,29,1112,28,0.892857,85.214286,70.250000,14.964286,12.330225,11.0,1.0,3.0,2.0,20.071429,0.350534,25.000000,0.701429,14.785714,72.569829,116.575300,96.408747,0.936204,-0.043347,Z01,10.0,5.0,2.0,1.0,12.0,2.0,6.0,3.0,0.0,0.008013,True,True,True,0.738,24,12,5,1,1436,29,0.655172,67.793103,63.137931,4.655172,12.382624,10.0,1.0,3.0,4.0,15.482759,0.340757,19.551724,0.657848,14.068966,62.374179,108.035787,100.640934,0.728997,-0.073825,Z16,0.0,0.0,1.0,9.0,1.0,144.0,41.0,144.0,38.0,0.003172,False,False,False,0.453,1,0,0,0
2,2003,1112,1242,-3,1112,28,0.892857,85.214286,70.250000,14.964286,12.330225,11.0,1.0,3.0,2.0,20.071429,0.350534,25.000000,0.701429,14.785714,72.569829,116.575300,96.408747,0.936204,-0.043347,Z01,10.0,5.0,2.0,1.0,12.0,2.0,6.0,3.0,0.0,0.008013,True,True,True,0.738,24,12,5,1,1242,30,0.766667,81.333333,66.366667,14.966667,17.827850,10.0,1.0,1.0,1.0,14.133333,0.339623,24.133333,0.665746,14.900000,70.337280,115.294347,94.655205,0.944210,-0.177543,Z02,9.0,3.0,6.0,1.0,15.0,6.0,5.0,4.0,2.0,0.007841,True,True,True,0.805,14,9,4,0
3,2003,1181,1242,-4,1181,30,0.800000,81.966667,70.400000,11.566667,13.096267,9.0,0.0,0.0,3.0,20.600000,0.355987,28.066667,0.709026,14.033333,69.247232,117.340249,101.625110,0.892447,-0.092447,Z03,6.0,1.0,3.0,3.0,9.0,12.0,-2.0,8.0,0.0,0.006788,False,True,True,0.739,19,14,9,3,1242,30,0.766667,81.333333,66.366667,14.966667,17.827850,10.0,1.0,1.0,1.0,14.133333,0.339623,24.133333,0.665746,14.900000,70.337280,115.294347,94.655205,0.944210,-0.177543,Z02,9.0,3.0,6.0,1.0,15.0,6.0,5.0,4.0,2.0,0.007841,True,True,True,0.805,14,9,4,0
4,2003,1393,1242,3,1393,29,0.827586,80.103448,69.896552,10.206897,13.936752,7.0,0.0,4.0,1.0,15.862069,0.330435,23.620690,0.693431,13.620690,68.569526,115.680706,101.761586,0.869435,-0.041848,W03,5.0,2.0,4.0,1.0,9.0,9.0,6.0,15.0,4.0,0.005967,False,False,False,0.743,22,12,3,1,1242,30,0.766667,81.333333,66.366667,14.966667,17.827850,10.0,1.0,1.0,1.0,14.133333,0.339623,24.133333,0.665746,14.900000,70.337280,115.294347,94.655205,0.944210,-0.177543,Z02,9.0,3.0,6.0,1.0,15.0,6.0,5.0,4.0,2.0,0.007841,True,True,True,0.805,14,9,4,0

In [105]:
features.columns

Index(['Season', 'TeamID', 'total_games', 'win_pct', 'avg_points_for',
       'avg_points_against', 'avg_game_margin', 'std_game_margin',
       'non_home_wins', 'home_losses', 'close_wins', 'close_losses', '3FGA_pg',
       '3_pct', 'FTA_pg', 'FT_pct', 'TOV_pg', 'avg_pace', 'off_eff', 'def_eff',
       'pythag_win_pct', 'luck', 'Seed', 'wins_vs_tourney_teams',
       'away_wins_vs_tourney_teams', 'losses_vs_tourney_teams',
       'losses_vs_non_tourney_teams', 'games_vs_tourney_teams', 'final_net',
       'net_improvement', 'final_pom', 'pom_improvement', 'pi_i',
       'is_ap_pre_top_5', 'is_ap_pre_top_15', 'is_ap_pre_top_25',
       'coach_WL_car', 'tourneys_car', 'sw16_car', 'ff_car', 'champ_car'],
      dtype='object')

In [110]:
difference_cols = ['total_games', 'win_pct', 'avg_points_for',
       'avg_points_against', 'avg_game_margin', 'std_game_margin',
       'non_home_wins', 'home_losses', 'close_wins', 'close_losses', '3FGA_pg',
       '3_pct', 'FTA_pg', 'FT_pct', 'TOV_pg', 'avg_pace', 'off_eff', 'def_eff',
       'pythag_win_pct', 'luck', 'wins_vs_tourney_teams',
       'away_wins_vs_tourney_teams', 'losses_vs_tourney_teams',
       'losses_vs_non_tourney_teams', 'games_vs_tourney_teams', 'final_net',
       'net_improvement', 'final_pom', 'pom_improvement', 'pi_i',
       'coach_WL_car', 'tourneys_car', 'sw16_car', 'ff_car', 'champ_car']
boolean_cols = ['is_ap_pre_top_5', 'is_ap_pre_top_15', 'is_ap_pre_top_25']

In [ ]:
t1_top_5_t2_not_top_5
t1_not_top_5_t2_top_5
t1_top_5_t2_top_5
t1_not_top_5_t2_not_top_5

t1_top_5_t2_not_top_5

In [111]:
for col in difference_cols:
    matchup_features_all['diff_'+col] = matchup_features_all[col+'_1'] - matchup_features_all[col+'_2']

In [112]:
pd.set_option("display.max_columns", None)
matchup_features_all.head()

,Season,team1,team2,t1_score_diff,TeamID_1,total_games_1,win_pct_1,avg_points_for_1,avg_points_against_1,avg_game_margin_1,std_game_margin_1,non_home_wins_1,home_losses_1,close_wins_1,close_losses_1,3FGA_pg_1,3_pct_1,FTA_pg_1,FT_pct_1,TOV_pg_1,avg_pace_1,off_eff_1,def_eff_1,pythag_win_pct_1,luck_1,Seed_1,wins_vs_tourney_teams_1,away_wins_vs_tourney_teams_1,losses_vs_tourney_teams_1,losses_vs_non_tourney_teams_1,games_vs_tourney_teams_1,final_net_1,net_improvement_1,final_pom_1,pom_improvement_1,pi_i_1,is_ap_pre_top_5_1,is_ap_pre_top_15_1,is_ap_pre_top_25_1,coach_WL_car_1,tourneys_car_1,sw16_car_1,ff_car_1,champ_car_1,TeamID_2,total_games_2,win_pct_2,avg_points_for_2,avg_points_against_2,avg_game_margin_2,std_game_margin_2,non_home_wins_2,home_losses_2,close_wins_2,close_losses_2,3FGA_pg_2,3_pct_2,FTA_pg_2,FT_pct_2,TOV_pg_2,avg_pace_2,off_eff_2,def_eff_2,pythag_win_pct_2,luck_2,Seed_2,wins_vs_tourney_teams_2,away_wins_vs_tourney_teams_2,losses_vs_tourney_teams_2,losses_vs_non_tourney_teams_2,games_vs_tourney_teams_2,final_net_2,net_improvement_2,final_pom_2,pom_improvement_2,pi_i_2,is_ap_pre_top_5_2,is_ap_pre_top_15_2,is_ap_pre_top_25_2,coach_WL_car_2,tourneys_car_2,sw16_car_2,ff_car_2,champ_car_2,diff_total_games,diff_win_pct,diff_avg_points_for,diff_avg_points_against,diff_avg_game_margin,diff_std_game_margin,diff_non_home_wins,diff_home_losses,diff_close_wins,diff_close_losses,diff_3FGA_pg,diff_3_pct,diff_FTA_pg,diff_FT_pct,diff_TOV_pg,diff_avg_pace,diff_off_eff,diff_def_eff,diff_pythag_win_pct,diff_luck,diff_wins_vs_tourney_teams,diff_away_wins_vs_tourney_teams,diff_losses_vs_tourney_teams,diff_losses_vs_non_tourney_teams,diff_games_vs_tourney_teams,diff_final_net,diff_net_improvement,diff_final_pom,diff_pom_improvement,diff_pi_i,diff_coach_WL_car,diff_tourneys_car,diff_sw16_car,diff_ff_car,diff_champ_car
0,2003,1421,1411,8,1421,29,0.448276,71.206897,78.448276,-7.241379,17.203959,3.0,2.0,6.0,3.0,18.000000,0.360153,20.931034,0.762768,16.206897,65.815172,106.461081,116.825884,0.206332,0.241944,X16b,0.0,0.0,6.0,10.0,6.0,186.0,-3.0,273.0,-7.0,0.001648,False,False,False,0.463,1,0,0,0,1411,30,0.600000,72.800000,70.833333,1.966667,11.998565,7.0,3.0,5.0,2.0,18.500000,0.320721,28.066667,0.619952,15.233333,67.262791,108.724747,104.193929,0.594100,0.005900,X16a,0.0,0.0,1.0,11.0,1.0,217.0,-14.0,268.0,-15.0,0.002039,False,False,False,0.492,1,0,0,0,-1,-0.151724,-1.593103,7.614943,-9.208046,5.205395,-4.0,-1.0,1.0,1.0,-0.500000,0.039433,-7.135632,0.142815,0.973563,-1.447619,-2.263666,12.631956,-0.387769,0.236045,0.0,0.0,5.0,-1.0,5.0,-31.0,11.0,5.0,8.0,-0.000391,-0.029,0,0,0,0
1,2003,1112,1436,29,1112,28,0.892857,85.214286,70.250000,14.964286,12.330225,11.0,1.0,3.0,2.0,20.071429,0.350534,25.000000,0.701429,14.785714,72.569829,116.575300,96.408747,0.936204,-0.043347,Z01,10.0,5.0,2.0,1.0,12.0,2.0,6.0,3.0,0.0,0.008013,True,True,True,0.738,24,12,5,1,1436,29,0.655172,67.793103,63.137931,4.655172,12.382624,10.0,1.0,3.0,4.0,15.482759,0.340757,19.551724,0.657848,14.068966,62.374179,108.035787,100.640934,0.728997,-0.073825,Z16,0.0,0.0,1.0,9.0,1.0,144.0,41.0,144.0,38.0,0.003172,False,False,False,0.453,1,0,0,0,-1,0.237685,17.421182,7.112069,10.309113,-0.052399,1.0,0.0,0.0,-2.0,4.588670,0.009777,5.448276,0.043580,0.716749,10.195649,8.539513,-4.232186,0.207207,0.030478,10.0,5.0,1.0,-8.0,11.0,-142.0,-35.0,-141.0,-38.0,0.004841,0.285,23,12,5,1
2,2003,1112,1242,-3,1112,28,0.892857,85.214286,70.250000,14.964286,12.330225,11.0,1.0,3.0,2.0,20.071429,0.350534,25.000000,0.701429,14.785714,72.569829,116.575300,96.408747,0.936204,-0.043347,Z01,10.0,5.0,2.0,1.0,12.0,2.0,6.0,3.0,0.0,0.008013,True,True,True,0.738,24,12,5,1,1242,30,0.766667,81.333333,66.366667,14.966667,17.827850,10.0,1.0,1.0,1.0,14.133333,0.339623,24.133333,0.665746,14.900000,70.337280,115.294347,94.655205,0.944210,-0.177543,Z02,9.0,3.0,6.0,1.0,15.0,6.0,5.0,4.0,2.0,0.007841,True,True,True,0.805,14,9,4,0,-2,0.126190,3.880952,3.883333,-0.002381,-5.497625,1.0,0.0,2.0,1.0,5.938095,0.010911,0.866667,0.035683,-0.114286,2.232549,1.280954,1.753542,-0.008006,0.134196,1.0,2.0,-4.0,0.0,-3.0,-4.0,1.0,-1.0,-2.0,0.000172,-0.067,10,3,1,1
3,2003,1181,1242,-4,1181,30,0.800000,81.966667,70.400000,11.566667,13.096267,9.0,0.0,0.0,3.0,20.600000,0.355987,28.066667,0.709026,14.033333,69.247232,117.340249,101.625110,0.892447,-0.092447,Z03,6.0,1.0,3.0,3.0,9.0,12.0,-2.0,8.0,0.0,0.006788,False,True,True,0.739,19,14,9,3,1242,30,0.766667,81.333333,66.366667,14.966667,17.827850,10.0,1.0,1.0,1.0,14.133333,0.339623,24.133333,0.665746,14.900000,70.337280,115.294347,94.655205,0.944210,-0.177543,Z02,9.0,3.0,6.0,1.0,15.0,6.0,5.0,4.0,2.0,0.007841,True,True,True,0.805,14,9,4,0,0,0.033333,0.633333,4.033333,-3.400000,-4.731582,-1.0,-1.0,-1.0,2.0,6.466667,0.016364,3.933333,0.043280,-0.866667,-1.090048,2.045902,6.969905,-0.051763,0.085096,-3.0,-2.0,-3.0,2.0,-6.0,6.0,-7.0,4.0,-2.0,-0.001053,-0.066,5,5,5,3
4,2003,1393,1242,3,1393,29,0.827586,80.103448,69.896552,10.206897,13.936752,7.0,0.0,4.0,1.0,15.862069,0.330435,23.620690,0.693431,13.620690,68.569526,115.680706,101.761586,0.869435,-0.041848,W03,5.0,2.0,4.0,1.0,9.0,9.0,6.0,15.0,4.0,0.005967,False,False,False,0.743,22,12,3,1,1242,30,0.766667,81.333333,66.366667,14.966667,17.827850,10.0,1.0,1.0,1.0,14.133333,0.339623,24.133333,0.665746,14.900000,70.337280,115.294347,94.655205,0.944210,-0.177543,Z02,9.0,3.0,6.0,1.0,15.0,6.0,5.0,4.0,2.0,0.007841,True,True,True,0.805,14,9,4,0,-1,0.060920,-1.229885,3.529885,-4.759770,-3.891098,-3.0,-1.0,3.0,0.0,1.728736,-0.009188,-0.512644,0.027685,-1.279310,-1.767754,0.386359,7.106380,-0.074775,0.135695,-4.0,-1.0,-2.0,0.0,-6.0,3.0,1.0,11.0,2.0,-0.001873,-0.062,8,3,-1,1

In [129]:
diff_cols = [col for col in matchup_features_all.columns if 'diff' in col]
matchup_features_basic = matchup_features_all[diff_cols]
matchup_features_basic.head()

,t1_score_diff,diff_total_games,diff_win_pct,diff_avg_points_for,diff_avg_points_against,diff_avg_game_margin,diff_std_game_margin,diff_non_home_wins,diff_home_losses,diff_close_wins,diff_close_losses,diff_3FGA_pg,diff_3_pct,diff_FTA_pg,diff_FT_pct,diff_TOV_pg,diff_avg_pace,diff_off_eff,diff_def_eff,diff_pythag_win_pct,diff_luck,diff_wins_vs_tourney_teams,diff_away_wins_vs_tourney_teams,diff_losses_vs_tourney_teams,diff_losses_vs_non_tourney_teams,diff_games_vs_tourney_teams,diff_final_net,diff_net_improvement,diff_final_pom,diff_pom_improvement,diff_pi_i,diff_coach_WL_car,diff_tourneys_car,diff_sw16_car,diff_ff_car,diff_champ_car
0,8,-1,-0.151724,-1.593103,7.614943,-9.208046,5.205395,-4.0,-1.0,1.0,1.0,-0.500000,0.039433,-7.135632,0.142815,0.973563,-1.447619,-2.263666,12.631956,-0.387769,0.236045,0.0,0.0,5.0,-1.0,5.0,-31.0,11.0,5.0,8.0,-0.000391,-0.029,0,0,0,0
1,29,-1,0.237685,17.421182,7.112069,10.309113,-0.052399,1.0,0.0,0.0,-2.0,4.588670,0.009777,5.448276,0.043580,0.716749,10.195649,8.539513,-4.232186,0.207207,0.030478,10.0,5.0,1.0,-8.0,11.0,-142.0,-35.0,-141.0,-38.0,0.004841,0.285,23,12,5,1
2,-3,-2,0.126190,3.880952,3.883333,-0.002381,-5.497625,1.0,0.0,2.0,1.0,5.938095,0.010911,0.866667,0.035683,-0.114286,2.232549,1.280954,1.753542,-0.008006,0.134196,1.0,2.0,-4.0,0.0,-3.0,-4.0,1.0,-1.0,-2.0,0.000172,-0.067,10,3,1,1
3,-4,0,0.033333,0.633333,4.033333,-3.400000,-4.731582,-1.0,-1.0,-1.0,2.0,6.466667,0.016364,3.933333,0.043280,-0.866667,-1.090048,2.045902,6.969905,-0.051763,0.085096,-3.0,-2.0,-3.0,2.0,-6.0,6.0,-7.0,4.0,-2.0,-0.001053,-0.066,5,5,5,3
4,3,-1,0.060920,-1.229885,3.529885,-4.759770,-3.891098,-3.0,-1.0,3.0,0.0,1.728736,-0.009188,-0.512644,0.027685,-1.279310,-1.767754,0.386359,7.106380,-0.074775,0.135695,-4.0,-1.0,-2.0,0.0,-6.0,3.0,1.0,11.0,2.0,-0.001873,-0.062,8,3,-1,1

In [130]:
matchup_features_basic.to_csv('data/model_data/matchup_features_basic.csv')